.header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    border: 1px solid red;
    
    .logo-container{
        height: 100%;
        width: 70px;
        padding:25px;
        border: 1px solid red;
    }

    .options{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border: 1px solid red;

        .option{
         padding: 10px 15px;
         cursor: pointer;
         border: 1px solid red;
        }

    }
}